<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="boardSave" parameterType="board">
        insert into board_table (boardTitle,boardWriter,boardContents)
            values (#{boardTitle},#{boardWriter},#{boardContents})
    </insert>

    <select id="boardList" parameterType="HashMap" resultType="board">
        select * from board_table order by id desc limit #{start},#{limit}
    </select>

    <select id="boardCount" resultType="Integer">
        select count(id) from board_table
    </select>

    <select id="search" parameterType="HashMap" resultType="board">
        select * from board_table where #{type} like concat('%',#{q},'%') order by id desc limit #{start},#{limit}
    </select>

    <select id="boardSearchCount" parameterType="HashMap" resultType="Integer">
        select count(id) from board_table where #{type} like concat('%',#{q},'%')
    </select>

</mapper>









