<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="memberSave" parameterType="member">
        insert into member_table (memberEmail, memberPassword, memberName, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile})
    </insert>

    <select id="findByEmail" parameterType="String" resultType="member">
        select memberEmail
        from member_table
        where memberEmail = #{memberEmail}
    </select>

    <select id="memberLogin" parameterType="member" resultType="member">
        select memberEmail, memberPassword
        from member_table
        where memberEmail = #{memberEmail}
          and memberPassword = #{memberPassword}
    </select>

</mapper>